<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (C) 2016-2019 Michael Kirgus
This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License along with this program; if not, see <https://www.gnu.org/licenses>.
-->
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MetroFramework" publicKeyToken="5f91a84759bf584a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.3" newVersion="1.2.0.3"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
